.card {
    width: 350px;
    height: 300px;
    border: 3px solid #27569C;
    border-radius: 2px;
    padding: 15px;
    margin: 15px;
}
.card img {
    width: 120px;
    height: 120px;
}
.card__wrapper_blockFirst {
    display: flex;
}
.card__wrapper_blockFirst h5 {
    margin: 10px 3px;
}
.card__wrapper_data {
    margin: 0 10px;
}
.card__wrapper_data h4 {
    margin: 0;
}
.card__wrapper_author {
    display: flex;
}
.card__wrapper_company {
    display: flex;
}
.card__wrapper_title {
    margin: 10px 0;
}

@media screen and (max-width: 375px) {
    .card img {
        display: none;
    }
    .card__wrapper_desc {
        font-size: 14px;
    }
}