.header {
    height: 70px;
    background: #E4B062;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.header__wrapper {
    display: flex;
    align-items: center;
}
.header__wrapper span {
    font-weight: 600;
    margin: 0 20px;
    font-size: 18px;
    font-family: 'Montserrat';
}

/* Logout svg style */
.logout_path:hover {
    transition: 0.3s;
    fill: red;
}